---
title: Digital Design
permalink: "/digital-design/"
layout: default
description: UX/UI for websites, mobile e-commerce, and TV screens.
---

<main>
    {% include menu.html %}
    <section class="projects-headline">
		<h1>{{ page.description }}</h1>
	</section>
    <section class="list-of-projects">
        <ul>
            {% for post in site.categories['Digital Design'] %}
                <li>
                    <a href="{{ post.url }}">
                        <div class="featured-img">
                            <img src="{{ site.baseurl }}/uploads/{{ post.slides[0] }}.png">
                        </div>
                        <p>{{ post.excerpt }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>