---
title: Frontend
permalink: "/frontend/"
layout: default
description: End-to-end projects for those in need of a one-man band.
---

<main>
    {% include menu.html %}
    <section class="projects-headline">
		<h1>{{ page.description }}</h1>
	</section>
    <section class="list-of-projects">
        <ul>
            {% for post in site.categories['Frontend'] %}
                <li>
                    <a href="{{ post.url }}">
                        <div class="featured-img">
                            <img src="{{ site.baseurl }}/uploads/{{ post.slides[0] }}.png">
                        </div>
                        <p>{{ post.excerpt }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>