<section class="about">
    <div class="personal-photo">
        <div class="overlay-filter"></div>
        <img src="{{ site.baseurl }}/assets/img/me.jpg">
    </div>
    <div class="companies">
        <h2>Over the last 13 years, I've had the privilege to work on projects with a diverse range of companies.</h2>
        <div class="company-names">
            <ul>
                <h3>Brands</h3>
                <li>Sony PlayStation</li>
                <li>Legal &amp; General</li>
                <li>Which?</li>
                <li>Samsung</li>
                <li>BabyLiss</li>
                <li>National Saturday Club</li>
                <li>Novartis</li>
            </ul>
            <ul>
                <h3>Sectors</h3>
                <li>Entertainment</li>
                <li>Financial Services</li>
                <li>Publishing</li>
                <li>Electronics</li>
                <li>Consumer Goods</li>
                <li>Nonprofit</li>
                <li>Pharmaceutical</li>
            </ul>
        </div>
    </div>
</section>