<footer>
    <ul>
        <li>&copy; baleywalla {{ 'now' | date: "%Y" }}</li>
        <li>
            <a target="_blank" href="mailto:baleywalla@gmail.com">Email</a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/brianbale/">LinkedIn</a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/bhbale/">Instagram</a>
        </li>
        <li>
            <a target="_blank" href="https://codepen.io/brianbale">Codepen</a>
        </li>
    </ul>
</footer>