<head>
    <meta charset="utf-8">
    <title>{{ site.title }} — {{ site.description }}</title>
    <meta name="description" content="I'm a freelance digital designer from Hong Kong currently based in London, UK."/>
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <style>.hidden{opacity:1}.visible{opacity:1;transition:opacity 1s ease-out}</style>
</head>