<nav>
    <ul>
        <li {% if page.url == "/projects/" %} class="current-menu-item" {% endif %} >
            <a href="/projects/">Projects</a>
        </li>
        <li {% if page.url == "/digital-design/" %} class="current-menu-item" {% endif %} >
            <a href="/digital-design/">Digital Design</a>
        </li>
        <li {% if page.url == "/frontend/" %} class="current-menu-item" {% endif %} >
            <a href="/frontend/">Frontend</a>
        </li>
        <li {% if page.url == "/prototyping/" %} class="current-menu-item" {% endif %} >
            <a href="/prototyping/">Prototyping</a>
        </li>
    </ul>
</nav>