<aside>
    <div class="menu-icon"></div>
    <div class="overlay">
        <p>Thanks for stopping by.</p>
        <p>Since 2021, I've been at Which? working within the product design & user research team. Prior to this, I spent 8 years freelancing at various agencies and before this, I was at Sony as     part of the PlayStation Store digital design team.</p>
        <div class="experience">
            <ul>
                <h3>2021&ndash;Present</h3>
                <li>Which?</li>
                <li>Product Designer</li>
            </ul>
            <ul>
                <h3>2014&ndash;22</h3>
                <li>Various</li>
                <li>Freelance Designer</li>
            </ul>
            <ul>
                <h3>2016&ndash;20</h3>
                <li>Libertine</li>
                <li>Digital Designer</li>
            </ul>
            
            <ul>
                <h3>2016&ndash;19</h3>
                <li>Good Caesar</li>
                <li>Digital Designer</li>
            </ul>
            <ul>
                <h3>2016&ndash;17</h3>
                <li>Legal &amp; General</li>
                <li>UX/UI Designer</li>
            </ul>
            <ul>
                <h3>2015&ndash;16</h3>
                <li>Investis</li>
                <li>UI Designer</li>
            </ul>
            <ul>
                <h3>2015</h3>
                <li>MCCGLC</li>
                <li>Designer</li>
            </ul>
            <ul>
                <h3>2012&ndash;14</h3>
                <li>PlayStation</li>
                <li>Digital Designer</li>
            </ul>
            <ul>
                <h3>2007&ndash;11</h3>
                <li>Uni. of Brighton</li>
                <li>Product Design</li>
            </ul>
            <ul>
                <h3>2010</h3>
                <li>AdLux</li>
                <li>Graphic Designer</li>
            </ul>
        </div>
        <p>Involved across all aspects of the digital product cycle including research, strategy, prototyping, and handoff.</p>
        <div class="skills-tools">
            <ul>
                <h3>Research</h3>
                <li>Miro</li>
                <li>UserTesting</li>
            </ul>
            <ul>
                <h3>Prototyping</h3>
                <li>Figma</li>
                <li>Framer</li>
            </ul>
            <ul> 
                <h3>Handoff</h3>
                <li>Slack</li>
                <li>Jira</li>
                <li>Zeplin</li>
            </ul>
            <ul>
                <h3>Others</h3>
                <li>Code</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <ul>
            <li>
                <a target="_blank" href="mailto:baleywalla@gmail.com">Email</a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/brianbale/">LinkedIn</a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/bhbale/">Instagram</a>
            </li>
            <li>
                <a target="_blank" href="https://codepen.io/brianbale">Codepen</a>
            </li>
        </ul>
    </div>
</aside>