<aside>
    <div class="menu-icon"></div>
    <div class="overlay">
        <p>Thanks for stopping by.</p>
        <p>Freelancing since 2014, I've been working closely with agencies and brands on a range of digital design projects. Prior to this, I was at Sony (SIEE) as part of the PlayStation Store digital design team.</p>
        <div class="experience">
            <ul>
                <h3>2014&ndash;Present</h3>
                <li>Various</li>
                <li>Freelance</li>
            </ul>
            <ul>
                <h3>2021&ndash;Present</h3>
                <li>Which?</li>
                <li>Product Designer</li>
                <li>Research, UX, UI</li>
            </ul>
            <ul>
                <h3>2016&ndash;20</h3>
                <li>Libertine</li>
                <li>Digital Designer</li>
                <li>UX, UI, Frontend</li>
            </ul>
            
            <ul>
                <h3>2016&ndash;19</h3>
                <li>Good Caesar</li>
                <li>Digital Designer</li>
                <li>UX, UI</li>
            </ul>
            <ul>
                <h3>2016&ndash;17</h3>
                <li>L&amp;G</li>
                <li>UX/UI Designer</li>
            </ul>
            <ul>
                <h3>2015&ndash;16</h3>
                <li>Investis</li>
                <li>UI Designer</li>
            </ul>
            <ul>
                <h3>2015</h3>
                <li>MCCGLC</li>
                <li>Designer</li>
                <li>Print, Digital</li>
            </ul>
            <ul>
                <h3>2012&ndash;14</h3>
                <li>Sony (SIEE)</li>
                <li>Digital Designer</li>
            </ul>
            <ul>
                <h3>2009</h3>
                <li>AdLux</li>
                <li>Graphic Designer</li>
                <li>Sydney, AU</li>
            </ul>
        </div>
        <p>Involved across all aspects of the digital product cycle including research, strategy, prototyping, and handoff.</p>
        <div class="skills-tools">
            <ul>
                <h3>Digital Design</h3>
                <li>Figma</li>
                <li>Sketch</li>
            </ul>
            <ul>
                <h3>Prototyping</h3>
                <li>Framer</li>
                <li>InVision</li>
            </ul>
            <ul>
                <h3>Frontend</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>WordPress</li>
            </ul>
            <ul>
                <h3>Others</h3>
                <li>Jira/Trello</li>
                <li>Zeplin</li>
                <li>Illustrator</li>
                <li>Photoshop</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <ul>
            <li>
                <a target="_blank" href="mailto:baleywalla@gmail.com">Email</a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/brianbale/">LinkedIn</a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/bhbale/">Instagram</a>
            </li>
            <li>
                <a target="_blank" href="https://codepen.io/brianbale">Codepen</a>
            </li>
        </ul>
    </div>
</aside>